/* Write your CSS here */
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: transparent;
  border: 0px;
}

img {
  height: 30px;
  width: 20px;
}
